<div class="content" fxLayout="row" fxLayout.lt-md="column">

  <div fxFlex="50" fxFlex.xs="50" [style.background]="[bgColor]">

    <mat-card fxLayout="column" fxLayoutAlign="space-evenly stretch" class="example-card">
      <mat-card-title>
        <h2>Welcome to Covid19Stats</h2>
      </mat-card-title>
      <mat-card-content>
        <p>Covid-19 is a virus that came about in November 2019.</p>


        Here we give you realtime stats of the cases. Active, recovered and dead.
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50" fxFlex.xs="50">
    <p *ngIf="allStats$ | async as data">{{ data. }}</p>

  </div>

</div>

